body {
    font-family: Arial, sans-serif;
    background-color: antiquewhite;
}
.back {
    text-decoration: none;
    color: black;
    margin: 20px;
}
.section {
    display: flex;
    justify-content: center;
    text-align: center;
}
.info {
    display: flex;
    justify-content: space-between;
}
.texts{
    margin: 30px;
    padding: 5px;
    width: 300px;
    height: 250px;
    text-align: center;
}
.text {
    width: 300px;
    font-size: 24px;
    margin: 30px;
    padding: 5px;
}
.choices {
    margin: 10px;
}
.placar {
    display: flex;
    justify-content: space-between;
}
.players {
    padding: 5px;
    font-size: 25px;
    background-color: black;
    color: antiquewhite;
    border-style: groove;
}
.img_result {
    display: flex;
    justify-content: space-between;
}

.ajustar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}