body {
    font-family: Arial, sans-serif;
    background-color: antiquewhite;
  }

  .intro {
    text-align: center; /* Centraliza o texto */
  }
  
  .images {
    display: flex; /* Use flexbox para alinhar as imagens */
    justify-content: center; /* Centraliza horizontalmente as imagens */
  }
  
  .image {
    margin: 0 10px;
    border-radius: 20px;
  }
  
  .jogar {
    margin-top: 20px;
    text-align: center;
    width: 120px;
    height: 50px;
    border-radius: 15px;
    background-color: black;
    color: antiquewhite;
  }
  
  .section {
    display: flex;
    justify-content: center;
    text-align: center;
}
  .text_game {
    width: 300px;
    font-size: 24px;
    margin: 30px;
    padding: 5px;
  }
  .choices {
      margin: 10px;
  }
  .placar {
      display: flex;
      justify-content: space-between;
  }
  .players {
      padding: 5px;
      font-size: 25px;
      background-color: black;
      color: antiquewhite;
      border-style: groove;
  }
  .img_result {
      display: flex;
      justify-content: space-between;
  }

  .ajustar {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }